<!--fashion menu-->
<div *ngIf="pageloaded ">
        <div class="container-fluid" style="padding:0px;">
            <!--all fashion-->
            <div id="all-fashion" *ngIf="routeParams['mymenu']==='fashion'">
                <div class="row visible-lg-block" style="border-bottom: 5px solid black;margin-bottom:10px;">
                    <div class="col-md-10 card-centered">
                        <div class="title" style="margin-bottom:20px;">
                            FASHION
                        </div>
                        <masonry [useImagesLoaded]="true" [options]="{transitionDuration: '0.8s',gutter:30}">
                            <masonry-brick class="mood-brick" *ngFor="let mood of fashion_moods;let i=index">
                                <div class="img-box">
                                    <img [src]="mood.img" alt="">
                                    <div class="caption">
                                        <h3>{{mood.caption}}!</h3>
                                    </div>
                                </div>
                            </masonry-brick>
                        </masonry>
                    </div>
                </div>

                <div class="custom-category center">
                    <!-- all  -->
                    <a [ngClass]="{'active': routeParams['category'] === 'all'}"
                    [routerLink]="['/',routeParams['mymenu'],'all']" 
                    (click)="categoryMenu_Click('all')">ALL</a>
                    <!-- categories in my menu  -->
                    <a *ngFor="let mymenuCategory of mymenuCategories" 
                    [ngClass]="{'active': routeParams['category'] === mymenuCategory.uid}"
                    [routerLink]="['/',routeParams['mymenu'],mymenuCategory.uid]" 
                    (click)="categoryMenu_Click()">{{capitalizeFirstLetter(mymenuCategory.data.name)}}</a>
                </div>
            </div>
            <!--all beauty-->
            <div id="all-beauty" *ngIf="routeParams['mymenu']==='beauty'">
                <div class="row">
                    <div class="col-md-10 card-centered">
                        <table style="width:100%">
                            <tr>
                                <td class="title">BEAUTY</td>
                                <td class="custom-category right">
                                    <!-- all  -->
                                    <a [ngClass]="{'active': routeParams['category'] === 'all'}"
                                    [routerLink]="['/',routeParams['mymenu'],'all']" 
                                    (click)="categoryMenu_Click('all')">ALL</a>
                                    <!-- categories in my menu  -->
                                    <a *ngFor="let mymenuCategory of mymenuCategories" 
                                    [ngClass]="{'active': routeParams['category'] === mymenuCategory.uid}"
                                    [routerLink]="['/',routeParams['mymenu'],mymenuCategory.uid]" 
                                    (click)="categoryMenu_Click()">{{capitalizeFirstLetter(mymenuCategory.data.name)}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--all talent-->
            <div id="all-talent" *ngIf="routeParams['mymenu']==='talent'">
                <div class="row">
                    <div class="col-md-10 card-centered">
                        <table style="width:100%">
                            <tr>
                                <td class="title">TALENT</td>
                                <td class="custom-category right">
                                    <!-- all  -->
                                    <a [ngClass]="{'active': routeParams['category'] === 'all'}"
                                    [routerLink]="['/',routeParams['mymenu'],'all']" 
                                    (click)="categoryMenu_Click('all')">ALL</a>
                                    <!-- categories in my menu  -->
                                    <a *ngFor="let mymenuCategory of mymenuCategories" 
                                    [ngClass]="{'active': routeParams['category'] === mymenuCategory.uid}"
                                    [routerLink]="['/',routeParams['mymenu'],mymenuCategory.uid]" 
                                    (click)="categoryMenu_Click()">{{capitalizeFirstLetter(mymenuCategory.data.name)}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--all article in category with menu-->

            <div class="row white" style="min-height:500px;padding-top:50px;">
                <div *ngIf="articlesLoaded" class="col-md-10 card-centered">
                    <masonry [useImagesLoaded]="true" [options]="{columnWidth:'.brick', transitionDuration: '0.8s',gutter:40, stamp:'.stamp',percentPosition: true }">
                        <div [style.display]="routeParams['mymenu'] ==='life-style'?'inherit':'none'" class="stamp stamp1 title super-big">
                            LIFE STYLE
                        </div>
                        <masonry-brick class="brick" *ngFor="let document of documents">
                            <article-card [document]="document" 
                                [styleNumber]="1" [randomHeight]="true" [limit]="100" 
                                [linkResolver]="ctx.linkResolver">
                            </article-card>
                        </masonry-brick>
                    </masonry>
                </div>
                <div *ngIf="!articlesLoaded" class="loader-box">
                    <div class="loader">

                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="articlesLoaded" class="col-lg-12 torn">
                    <div class="more" (click)="btnMore_Click()">Read More</div>
                </div>
            </div>

        </div>


</div>

<!--loading-->
<div class="loading && loadingImg" *ngIf="!pageloaded">
    <!--preloader-->
    <div id="pre-bootstrap-container">
        <div id="pre-bootstrap">
            <div class="logo"></div>
            <div class="loader"></div>
        </div>
    </div>
</div>