<!-- 
    //
    // TEMPLATE BOARD CARD
    //
 -->
<template [ngIf]="document && styleNumber === 1 && linkResolver">
    <article id="board-card" class="mycard" [routerLink]="[linkResolver(document)]" 
    [ngStyle]="{'width':width+'px'}" (mouseenter)="isHover=true"
    (mouseleave)="isHover=false">
        <div *ngIf="document.data.image" class="card-main-img" >
            <img *xl  
            [ngClass]="{'hover':isHover}" 
            [ngStyle]="{'height':imageHeight+'px'}"
            [defaultImage]="defaultImage" [lazyLoad]="document.data.image.tv.url" [errorImage]="errorImage" [offset]="offset">
            <img *lg 
            [ngClass]="{'hover':isHover}" 
            [ngStyle]="{'height':imageHeight+'px'}"
            [defaultImage]="defaultImage" [lazyLoad]="document.data.image.desktop.url" [errorImage]="errorImage" [offset]="offset">
            <img *md 
            [ngClass]="{'hover':isHover}" 
            [ngStyle]="{'height':imageHeight+'px'}"
            [defaultImage]="defaultImage" [lazyLoad]="document.data.image.tablet.url" [errorImage]="errorImage" [offset]="offset">
            <img *sm 
            [ngClass]="{'hover':isHover}" 
            [ngStyle]="{'height':imageHeight+'px'}"
            [defaultImage]="defaultImage" [lazyLoad]="document.data.image.mobile.url" [errorImage]="errorImage" [offset]="offset">
        </div>

        <h1 class="rainbow-animate-text" [ngClass]="{'hover':isHover}">{{document.data.title}}</h1>
        <div class="card-category">{{capitalizeFirstLetter(document.data.link.data.name)}}</div>
        <div class="card-desc">{{toShortDescription(firstParagraph)}} 
        <span class="more" [ngClass]="{'hover':isHover}" *ngIf="firstParagraph.length > limit">  — read more</span></div>
    </article>
</template>



<!-- 
    //
    // TEMPLATE RELATED CARD
    //
 -->
<template [ngIf]="document && styleNumber === 2">
    <article id="related-card" class="mycard" [routerLink]="[linkResolver(document)]" (mouseenter)="isHover=true" (mouseleave)="isHover=false">

        <div *ngIf="document.data.image" class="card-main-img" >
                <img *xl [src]="document.data.image.tv.url"  [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                <img *lg [src]="document.data.image.desktop.url" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                <img *md [src]="document.data.image.tablet.url" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                <img *sm [src]="document.data.image.mobile.url" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
        </div>
        <h1 class="rainbow-animate-text" [ngClass]="{'hover':isHover}">{{document.data.title}}</h1>
        <div class="card-category">{{capitalizeFirstLetter(document.data.link.data.name)}}</div>
        <div class="card-desc">{{toShortDescription(firstParagraph)}} 
            <span class="more" [ngClass]="{'hover':isHover}" *ngIf="firstParagraph.length > limit">  — read more</span>
        </div>

    </article>
</template>


<!-- 
    //
    // TEMPLATE HORIZONTAL CARD
    //
 -->
<template [ngIf]="document && styleNumber === 3">
    <article id="horizon-card" [routerLink]="[linkResolver(document)]" class="mycard" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
        <!--image laoder-->
        <div class="center" *ngIf="loadingImage">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
        <!---->
        <table>
            <tr class="row-block">
                <td>
                    <img [src]="image?image.url:''" class="card-main-img" [hidden]="loadingImage" (load)="loadingImage=false" [ngClass]="{'hover':isHover}"
                        [ngStyle]="{'height':imageHeight+'px','width':imageHeight+'px'}">
                </td>
                <td>
                    <div [hidden]="loadingImage" class="right-block">
                        <h1 class="rainbow-animate-text" [ngClass]="{'hover':isHover}">{{document.data.title}}</h1>
                        <div class="card-category">{{capitalizeFirstLetter(document.data.link.data.name)}}</div>
                        <div class="card-desc">{{toShortDescription(firstParagraph)}} 
                            <span class="more" [ngClass]="{'hover':isHover}" *ngIf="firstParagraph.length > limit">  — read more</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </article>
</template>


<!-- 
    //
    // TEMPLATE HIGHLIGHT CARD
    //
 -->
<template [ngIf]="document && styleNumber === 4">
    <article id="highlight-card" class="mycard" >
        <table>
            <tr>
                <td width="35%">
                    <div *ngIf="document.data.image" class="card-main-img" >
                            <img *xl [src]="document.data.image.tv.url"  [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                            <img *lg [src]="document.data.image.desktop.url" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                            <img *md [src]="document.data.image.tablet.url" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                            <img *sm [src]="document.data.image.mobile.url" [ngClass]="{'hover':isHover}" [ngStyle]="{'height':imageHeight+'px'}" alt="">
                    </div>
                </td>
                <td class="right-column" [ngStyle]="{'height':imageHeight+'px','background-color':'#'+backgroundColor}">
                    <div class="link-group" (mouseenter)="isHover=true" (mouseleave)="isHover=false">
                        <h1  [routerLink]="[linkResolver(document)]" [ngClass]="{'hover':isHover}">{{document.data.title}}</h1>
                        <span class="date">{{document.data.date | amDateFormat:'DD MMMM YYYY' | uppercase}}</span>
                        <div class="card-desc">{{toShortDescription(firstParagraph)}} <span class="more" [ngClass]="{'hover':isHover}" *ngIf="firstParagraph.length > limit">  — read more</span></div>
                    </div>
                 </td>
            </tr>
        </table>
    </article>
</template>
<div *ngIf="loaded && !document">
    <h2>Not found!</h2>
</div>