<!--<div *ngIf="document">
    <div class="document-body" [innerHtml]=document.asHtml(linkResolver)></div>
</div>-->
<div class="main-body" >
    <div class="nav2" *ngIf="document && loaded">
        <div class="item" [routerLinkActive]="['arrow_box']" [routerLink]="['collection']"><i class="fa fa-camera" aria-hidden="true"></i><span> Collection</span></div>
        <div class="item" [routerLinkActive]="['arrow_box']" *ngIf="document.data.body.length > 0" [routerLink]="['review']"><span>Review</span></div>
        <div class="item" [routerLinkActive]="['arrow_box']" [routerLink]="['otherseason']"><span>Other Season</span></div>
    </div>
    <div *ngIf="document && loaded">
        <div class="image-header">
            <ul class="title-container">
                <li>{{document.data.season.data.name | uppercase}}</li><span class="slash-divider"></span>
                <li>{{document.data.brand.data.name | uppercase}}</li><span class="slash-divider"></span>
                <li>{{document.data.date | amDateFormat:'D MMM YYYY'}}</li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<div *ngIf="loaded && !document">
    <h2>Not found!</h2>
</div>